.type-cell {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .MuiSvgIcon-root {
    color: rgba(#000, 0.4);
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    background: rgba(#000, 0.1);
    margin-right: 8px;
  }
}
